name: ci
on:
  push:
    branches: [main]
  pull_request:

jobs:
  ci-basic:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/sayt/integrate
        with:
          target-dir: ./plugins/sayt
          target: test
        env:
          HOST_ENV: ""

  ci-advanced:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: ./.github/actions/sayt/integrate
        with:
          mode: advanced
          wrapper-path: ./plugins/sayt
          distro-path: ./plugins/sayt
          target-dir: ./plugins/sayt
          bake-allow: network.host
          buildkitd-flags: "--allow-insecure-entitlement network.host"
