name: ci
on:
  push:
    branches: [main]
  pull_request:

jobs:
  ci-basic:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/sayt/integrate
        with:
          target-dir: .
          target: test
        env:
          HOST_ENV: ""

  ci-advanced:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/sayt/integrate
        with:
          mode: advanced
          wrapper-path: .
          distro-path: .
          target-dir: .
          bake-allow: network.host
          buildkitd-flags: "--allow-insecure-entitlement network.host"
